<section id="about">
  <h2>About Me</h2>
  
  <p>Hi there! 👋 I'm <strong>Muhammad Adam Khan</strong>, an <strong>AI/ML Engineer</strong> and <strong>Python Developer</strong>.</p>

  <p>I hold a degree in <strong>Artificial Intelligence</strong> and have worked on a variety of impactful projects</p>

  <p>I have <strong>3+ years of experience</strong> in <strong>Python</strong>, <strong>Artificial Intelligence</strong>, and <strong>Machine Learning</strong>.</p>

  <p>I’ve also had the opportunity to <em>teach programming at both national and international levels</em>, helping others grow in the world of tech.</p>

  
  <ul style="max-width: 800px; margin: 0 auto; text-align: left; padding-left: 20px;">
    <li> Chatbot Development</li>
    <li> Machine Learning Models</li>
    <li> AI-Based Systems</li>
    <li> Web Development</li>
    <li> Python Scripting and Automation</li>
  </ul>
</section>
